<!DOCTYPE html>
<html>
<head>
<title>Title of the document</title>
</head>

<body>
    <a href="Settings">
        <button>Settings</button>
    </a> 
    <a href="verificar_directorios">
        <button>Verificar Directorio</button>
    </a> 
    <a href="usuarios_conectados">
        <button>Usuarios Conectados</button>
    </a> 
    <a href="validacion_off">
        <button>Autenticacion Fallida</button>
    </a> 
    <a href="mensajes_off">
        <button>Ataques SMT</button>
    </a> 
    <button type="button" class="btn btn-outline-secondary">Verificar usuarios</button>
    <button type="button" class="btn btn-outline-success">Verificar /var/log /secure</button>
    <button type="button" class="btn btn-outline-danger">Verificar /var/log/messages</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
</body>

</html>